{% extends 'base.html.twig' %}

{% block title %}Listes Clients{% endblock %}

{% block body %}
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <div style="width: 80%; max-width: 1200px; padding: 20px;">

    <h2 style="text-align: center;">Liste des Clients | <small><a href="{{ path('ajout_client')}}">Ajouter</a></small></h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <table class="table table-hover table-striped" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom client</th>
                <th>Nombre Personne</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for client in lesClients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.nom | upper }}</td>
                    <td>{{ client.nbrPersonne }}</td>
                    <td>{{ client.email }}</td>
                    <td>
                        <!-- Actions si nécessaires -->
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun abonné</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

  </div>
</div>
{% endblock %}
